test/src/test/resources/xsd/liberty/lib-arch-metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  attributeFormDefault="unqualified"
  elementFormDefault="qualified"
  targetNamespace="urn:liberty:metadata:2003-08"
  xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
  xmlns:md="urn:liberty:metadata:2003-08"
  xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--
    $Id: lib-arch-metadata.xsd,v 1.1.1.1 2003/12/30 10:14:57 ssafris Exp $
    FROM: draft-arch-metadata-schema.xsd,v 1.12 2003/06/16 15:48:13 jkemp Exp
    Author: Peter Davis
    Last editor: $Author: ssafris $
    $Date: 2003/12/30 10:14:57 $
    $Revision: 1.1.1.1 $
    -->
  <xs:import
    namespace="http://www.w3.org/2000/09/xmldsig#"
    schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:import
    namespace="urn:oasis:names:tc:SAML:1.0:assertion"
    schemaLocation="cs-sstc-schema-assertion-01.xsd"/>
  <xs:import
    namespace="http://www.w3.org/XML/1998/namespace"
    schemaLocation="../xml.xsd"/>
  <xs:include
    schemaLocation="lib-arch-utility.xsd"/>
  <xs:annotation>
    <xs:documentation>XML Schema fom Metadata description and discovery protocols</xs:documentation>
    <xs:documentation>### NOTICE ### Copyright (c) 2002, 2003 ActivCard; American Express Travel
      Related Services; America Online, Inc.; Bank of America; Bell Canada; Catavault; Cingular
      Wireless; Cisco Systems, Inc.; Citigroup; Communicator, Inc.; Consignia; Cyberun Corporation;
      Deloitte &amp; Touche LLP; Earthlink, Inc.; Electronic Data Systems, Inc.; Entrust, Inc.;
      Ericsson; Fidelity Investments; France Telecom; Gemplus; General Motors; Hewlett-Packard
      Company; i2 Technologies, Inc.; Intuit Inc.; MasterCard International; NEC Corporation;
      Netegrity; NeuStar; Nextel Communications; Nippon Telegraph and Telephone Company; Nokia
      Corporation; Novell, Inc.; NTT DoCoMo, Inc.; OneName Corporation; Openwave Systems Inc.;
      PricewaterhouseCoopers LLP; Register.com; RSA Security Inc; Sabre Holdings Corporation; SAP
      AG; SchlumbergerSema; SK Telecom; Sony Corporation; Sun Microsystems, Inc.; United Airlines;
      VeriSign, Inc.; Visa International; Vodafone Group Plc; Wave Systems;. All rights reserved.
      This specification document has been prepared by Sponsors of the Liberty Alliance. Permission
      is hereby granted to use the document solely for the purpose of implementing the
      Specification. No rights are granted to prepare derivative works of this Specification.
      Entities seeking permission to reproduce portions of this document for other uses must contact
      the Liberty Alliance to determine whether an appropriate license for such use is available.
      Implementation of certain elements of this Specification may require licenses under third
      party intellectual property rights, including without limi-tation, patent rights. The Sponsors
      of and any other contributors to the Specification are not, and shall not be held responsible
      in any manner, for identifying or failing to identify any or all such third party intellectual
      prop-erty rights. This Specification is provided &quot;AS IS&quot;, and no participant
      in the Liberty Alliance makes any warranty of any kind, express or implied, including any
      implied warranties of merchantability, non-infringement of third party intellectual property
      rights, and fitness for a particular purpose. Implementors of this Specification are advised
      to review the Liberty Alliance Project's website (http://www.projectliberty.org/) for
      information concerning any Necessary Claims Disclosure Notices that have been received by the
      Liberty Alliance Management Board. Liberty Alliance Project Licensing Administrator c/o
      IEEE-ISTO 445 Hoes Lane Piscataway, NJ 08855-1331, USA info@projectliberty.org
    </xs:documentation>
  </xs:annotation>
  <xs:simpleType
    name="entityIDType">
    <xs:restriction
      base="xs:anyURI">
      <xs:maxLength
        id="maxlengthid"
        value="1024"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:attribute
    name="libertyPrincipalIdentifier"
    type="md:entityIDType"/>
  <xs:attribute
    name="providerID"
    type="md:entityIDType"/>
  <xs:attribute
    name="validUntil"
    type="xs:dateTime"/>
  <xs:attribute
    name="cacheDuration"
    type="xs:duration"/>
  <xs:complexType
    name="additionalMetadataLocationType">
    <xs:simpleContent>
      <xs:extension
        base="xs:anyURI">
        <xs:attribute
          name="namespace"
          type="xs:anyURI"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType
    name="organizationType">
    <xs:sequence>
      <xs:element
        maxOccurs="unbounded"
        name="OrganizationName"
        type="md:organizationNameType"/>
      <xs:element
        maxOccurs="unbounded"
        name="OrganizationDisplayName"
        type="md:organizationDisplayNameType"/>
      <xs:element
        maxOccurs="unbounded"
        name="OrganizationURL"
        type="md:localizedURIType"/>
      <xs:element
        minOccurs="0"
        ref="md:Extension"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType
    name="organizationNameType">
    <xs:simpleContent>
      <xs:extension
        base="xs:string">
        <xs:attribute
          ref="xml:lang"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType
    name="organizationDisplayNameType">
    <xs:simpleContent>
      <xs:extension
        base="xs:string">
        <xs:attribute
          ref="xml:lang"
          use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType
    name="localizedURIType">
    <xs:simpleContent>
      <xs:extension
        base="xs:anyURI">
        <xs:attribute
          ref="xml:lang"
          use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType
    name="contactType">
    <xs:sequence>
      <xs:element
        maxOccurs="1"
        minOccurs="0"
        name="Company"
        type="xs:string"/>
      <xs:element
        maxOccurs="1"
        minOccurs="0"
        name="GivenName"
        type="xs:string"/>
      <xs:element
        maxOccurs="1"
        minOccurs="0"
        name="SurName"
        type="xs:string"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        name="EmailAddress"
        type="xs:anyURI"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        name="TelephoneNumber"
        type="xs:string"/>
      <xs:element
        minOccurs="0"
        ref="md:Extension"/>
    </xs:sequence>
    <xs:attribute
      ref="md:libertyPrincipalIdentifier"
      use="optional"/>
    <xs:attribute
      name="contactType"
      type="md:attr.contactType"
      use="required"/>
  </xs:complexType>
  <xs:simpleType
    name="attr.contactType">
    <xs:restriction
      base="xs:string">
      <xs:enumeration
        value="technical"/>
      <xs:enumeration
        value="administrative"/>
      <xs:enumeration
        value="billing"/>
      <xs:enumeration
        value="other"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType
    name="keyInfoType">
    <xs:complexContent>
      <xs:extension
        base="ds:KeyInfoType">
        <xs:attribute
          name="use"
          type="md:keyTypes"
          use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType
    name="keyTypes">
    <xs:restriction
      base="xs:string">
      <xs:enumeration
        value="encryption"/>
      <xs:enumeration
        value="signing"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType
    name="providerDescriptorType">
    <xs:sequence>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        name="KeyInfo"
        type="md:keyInfoType"/>
      <xs:element
        minOccurs="0"
        name="SoapEndpoint"
        type="xs:anyURI"/>
      <!-- wsdl notes
            artifactRequest
            artifactResponse
            registerNameIdentifierRequest
            registerNameIdentifierResponse
            federationTerminationRequest
            federationTerminationResponse
            singleLogoutRequest
            singleLogoutResponse
            nameIdentifierMappingRequest
            nameIdentifierMappingResponse
            introductionNotificationRequest
            introductionNotificationResponse
            providerRelationshipTerminiationRequest
            providerRelationshipTerminationResponse
            -->
      <xs:element
        minOccurs="0"
        name="SingleLogoutServiceURL"
        type="xs:anyURI"/>
      <xs:element
        minOccurs="0"
        name="SingleLogoutServiceReturnURL"
        type="xs:anyURI"/>
      <xs:element
        minOccurs="0"
        name="FederationTerminationServiceURL"
        type="xs:anyURI"/>
      <xs:element
        minOccurs="0"
        name="FederationTerminationServiceReturnURL"
        type="xs:anyURI"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        name="FederationTerminationNotificationProtocolProfile"
        type="xs:anyURI"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        name="SingleLogoutProtocolProfile"
        type="xs:anyURI"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        name="RegisterNameIdentifierProtocolProfile"
        type="xs:anyURI"/>
      <xs:element
        minOccurs="0"
        name="RegisterNameIdentifierServiceURL"
        type="xs:anyURI"/>
      <xs:element
        minOccurs="0"
        name="RegisterNameIdentifierServiceReturnURL"
        type="xs:anyURI"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        name="RelationshipTerminationNotificationProtocolProfile"
        type="xs:anyURI"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        name="NameIdentifierMappingBinding"
        type="saml:AuthorityBindingType"/>
      <xs:element
        minOccurs="0"
        name="Organization"
        type="md:organizationType"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        name="ContactPerson"
        type="md:contactType"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        name="AdditionalMetaLocation"
        type="md:additionalMetadataLocationType"/>

      <xs:element
        minOccurs="0"
        ref="md:Extension"/>
      <xs:element
        minOccurs="0"
        ref="ds:Signature"/>
    </xs:sequence>
    <xs:attribute
      ref="md:providerID"
      use="required"/>
    <xs:attribute
      name="protocolSupportEnumeration"
      type="xs:NMTOKENS"
      use="required"/>
    <xs:attribute
      name="id"
      type="xs:ID"
      use="optional"/>
    <xs:attribute
      ref="md:validUntil"
      use="optional"/>
    <xs:attribute
      ref="md:cacheDuration"
      use="optional"/>
  </xs:complexType>
  <xs:element
    name="EntityDescriptor"
    type="md:entityDescriptorType"/>
  <xs:group
    name="providerGroup">
    <xs:sequence>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        name="IDPDescriptor"
        type="md:IDPDescriptorType"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        name="SPDescriptor"
        type="md:SPDescriptorType"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType
    name="entityDescriptorType">
    <xs:sequence>
      <xs:choice>
        <xs:group
          ref="md:providerGroup"/>
        <xs:element
          name="AffiliationDescriptor"
          type="md:affiliationDescriptorType"/>
      </xs:choice>
      <xs:element
        minOccurs="0"
        name="ContactPerson"
        type="md:contactType"/>
      <xs:element
        minOccurs="0"
        name="Organization"
        type="md:organizationType"/>
      <xs:element
        minOccurs="0"
        ref="md:Extension"/>
      <xs:element
        minOccurs="0"
        ref="ds:Signature"/>

    </xs:sequence>
    <xs:attribute
      name="id"
      type="xs:ID"
      use="optional"/>
    <xs:attribute
      ref="md:validUntil"
      use="optional"/>
    <xs:attribute
      ref="md:cacheDuration"
      use="optional"/>
  </xs:complexType>
  <xs:complexType
    name="SPDescriptorType">
    <xs:complexContent>
      <xs:extension
        base="md:providerDescriptorType">
        <xs:sequence>
          <xs:element
            maxOccurs="unbounded"
            name="AssertionConsumerServiceURL">
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension
                	base="xs:anyURI">
                	<xs:attribute
                		name="id"
                		type="xs:ID"
                		use="required"/>
                	<xs:attribute
                		default="false"
                		name="isDefault"
                		type="xs:boolean"/>
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
          <xs:element
            name="AuthnRequestsSigned"
            type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType
    name="IDPDescriptorType">
    <xs:complexContent>
      <xs:extension
        base="md:providerDescriptorType">
        <xs:sequence>
          <xs:element
            name="SingleSignOnServiceURL"
            type="xs:anyURI"/>
          <xs:element
            maxOccurs="unbounded"
            name="SingleSignOnProtocolProfile"
            type="xs:anyURI"/>
          <xs:element
            maxOccurs="unbounded"
            minOccurs="0"
            name="IntroductionNotificationProtocolProfile"
            type="xs:anyURI"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element
    name="EntitiesDescriptor"
    type="md:entitiesDescriptorType"/>
  <xs:complexType
    name="entitiesDescriptorType">
    <xs:sequence>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="2"
        ref="md:EntityDescriptor"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType
    name="affiliationDescriptorType">
    <xs:sequence>
      <xs:element
        maxOccurs="unbounded"
        name="AffiliateMember"
        type="md:entityIDType"/>
      <xs:element
        minOccurs="0"
        ref="md:Extension"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        name="KeyInfo"
        type="md:keyInfoType"/>
      <xs:element
        minOccurs="0"
        ref="ds:Signature"/>
    </xs:sequence>
    <xs:attribute
      name="affiliationID"
      type="md:entityIDType"
      use="required"/>
    <xs:attribute
      name="affiliationOwnerID"
      type="md:entityIDType"
      use="required"/>
    <xs:attribute
      ref="md:validUntil"
      use="optional"/>
    <xs:attribute
      ref="md:cacheDuration"
      use="optional"/>
    <xs:attribute
      name="id"
      type="xs:ID"
      use="optional"/>
  </xs:complexType>
</xs:schema>
