test/src/test/resources/xsd/liberty/lib-id-sis-pp.xsd

<!-- 2003-09-15-->
<xs:schema
  elementFormDefault="qualified"
  targetNamespace="urn:liberty:id-sis-pp:2003-08"
  version="1.0-29"
  xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
  xmlns:pp="urn:liberty:id-sis-pp:2003-08"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import
    namespace="http://www.w3.org/2000/09/xmldsig#"
    schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:annotation>
    <xs:documentation>Title: Liberty ID-SIS Personal Profile Services Schema</xs:documentation>
    <xs:documentation> Copyright &#x00A9; 2003 ActivCard; American Express Travel Related
      Services; America Online, Inc.; Bank of America; Bell Canada; Cingular Wireless; Cisco
      Systems, Inc.; Citigroup; Communicator, Inc.; Consignia; Deloitte &amp; Touche LLP;
      Earthlink, Inc.; Electronic Data Systems, Inc.; Entrust, Inc.; Ericsson; Fidelity Investments;
      France Telecom; Gemplus; General Motors; Hewlett-Packard Company; i2 Technologies, Inc.;
      Internet2; Intuit Inc.; MasterCard International; NEC Corporation; Netegrity; NeuStar; Nextel
      Communications; Nippon Telegraph and Telephone Company; Nokia Corporation; Novell, Inc.; NTT
      DoCoMo, Inc.; OneName Corporation; Openwave Systems Inc.; Phaos Technology;
      PricewaterhouseCoopers LLP; Register.com; RSA Security Inc; Sabre Holdings Corporation; SAP
      AG; SchlumbergerSema; SK Telecom; Sony Corporation; Sun Microsystems, Inc.; Symlabs, Inc.;
      Trustgenix; United Airlines; VeriSign, Inc.; Visa International; Vodafone Group Plc; Wave
      Systems;. All rights reserved. This specification document has been prepared by Sponsors of
      the Liberty Alliance. Permission is hereby granted to use the document solely for the purpose
      of implementing the Specification. No rights are granted to prepare derivative works of this
      Specification. Entities seeking permission to reproduce portions of this document for other
      uses must contact the Liberty Alliance to determine whether an appropriate license for such
      use is available. Implementation of certain elements of this Specification may require
      licenses under third party intellectual property rights, including without limi-tation, patent
      rights. The Sponsors of and any other contributors to the Specification are not, and shall not
      be held responsible in any manner, for identifying or failing to identify any or all such
      third party intellectual prop-erty rights. This Specification is provided "AS IS", and no
      participant in the Liberty Alliance makes any warranty of any kind, express or implied,
      including any implied warranties of merchantability, non-infringement of third party
      intellectual property rights, and fitness for a particular purpose. Implementors of this
      Specification are advised to review the Liberty Alliance Project's website
      (http://www.projectliberty.org/) for information concerning any Necessary Claims Disclosure
      Notices that have been received by the Liberty Alliance Management Board. Liberty Alliance
      Project Licensing Administrator c/o IEEE-ISTO 445 Hoes Lane Piscataway, NJ 08855-1331, USA
      info@projectliberty.org </xs:documentation>
  </xs:annotation>
  <xs:include
    schemaLocation="lib-svc-dst.xsd"/>
  <xs:include
    schemaLocation="lib-svc-dst-dt.xsd"/>
  <xs:complexType
    mixed="true"
    name="KeyInfoType">
    <xs:complexContent
      mixed="true">
      <xs:extension
        base="ds:KeyInfoType">
        <xs:attribute
          ref="pp:modificationTime"/>
        <xs:attribute
          ref="pp:ACC"/>
        <xs:attribute
          ref="pp:ACCTime"/>
        <xs:attribute
          ref="pp:modifier"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element
    name="PP"
    type="pp:PPType"/>
  <xs:complexType
    name="PPType">
    <xs:sequence>
      <xs:element
        minOccurs="0"
        ref="pp:InformalName"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:LInformalName"/>
      <xs:element
        minOccurs="0"
        ref="pp:CommonName"/>
      <xs:element
        minOccurs="0"
        ref="pp:LegalIdentity"/>
      <xs:element
        minOccurs="0"
        ref="pp:EmploymentIdentity"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:AddressCard"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:MsgContact"/>
      <xs:element
        minOccurs="0"
        ref="pp:Facade"/>
      <xs:element
        minOccurs="0"
        ref="pp:Demographics"/>
      <xs:element
        minOccurs="0"
        ref="pp:SignKey"/>
      <xs:element
        minOccurs="0"
        ref="pp:EncryptKey"/>
      <xs:element
        minOccurs="0"
        ref="pp:EmergencyContact"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:LEmergencyContact"/>
      <xs:element
        minOccurs="0"
        ref="pp:Extension"/>
    </xs:sequence>
    <xs:attributeGroup
      ref="pp:commonAttributes"/>
  </xs:complexType>
  <xs:element
    name="InformalName"
    type="pp:DSTString"/>
  <xs:element
    name="LInformalName"
    type="pp:DSTLocalizedString"/>
  <xs:element
    name="CommonName"
    type="pp:CommonNameType"/>
  <xs:complexType
    name="CommonNameType">
    <xs:sequence>
      <xs:element
        minOccurs="0"
        ref="pp:CN"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:LCN"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:AltCN"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:LAltCN"/>
      <xs:element
        minOccurs="0"
        ref="pp:AnalyzedName"/>
      <xs:element
        minOccurs="0"
        ref="pp:Extension"/>
    </xs:sequence>
    <xs:attributeGroup
      ref="pp:commonAttributes"/>
  </xs:complexType>
  <xs:element
    name="CN"
    type="pp:DSTString"/>
  <xs:element
    name="LCN"
    type="pp:DSTLocalizedString"/>
  <xs:element
    name="AltCN"
    type="pp:DSTString"/>
  <xs:element
    name="LAltCN"
    type="pp:DSTLocalizedString"/>
  <xs:element
    name="AnalyzedName"
    type="pp:AnalyzedNameType"/>
  <xs:complexType
    name="AnalyzedNameType">
    <xs:sequence>
      <xs:element
        minOccurs="0"
        ref="pp:PersonalTitle"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:LPersonalTitle"/>
      <xs:element
        minOccurs="0"
        ref="pp:FN"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:LFN"/>
      <xs:element
        minOccurs="0"
        ref="pp:SN"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:LSN"/>
      <xs:element
        minOccurs="0"
        ref="pp:MN"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:LMN"/>
      <xs:element
        minOccurs="0"
        ref="pp:Extension"/>
    </xs:sequence>
    <xs:attribute
      name="nameScheme"
      type="xs:anyURI"
      use="optional"/>
    <xs:attributeGroup
      ref="pp:commonAttributes"/>
  </xs:complexType>
  <xs:element
    name="PersonalTitle"
    type="pp:DSTString"/>
  <xs:element
    name="LPersonalTitle"
    type="pp:DSTLocalizedString"/>
  <xs:element
    name="FN"
    type="pp:DSTString"/>
  <xs:element
    name="LFN"
    type="pp:DSTLocalizedString"/>
  <xs:element
    name="SN"
    type="pp:DSTString"/>
  <xs:element
    name="LSN"
    type="pp:DSTLocalizedString"/>
  <xs:element
    name="MN"
    type="pp:DSTString"/>
  <xs:element
    name="LMN"
    type="pp:DSTLocalizedString"/>
  <xs:element
    name="LegalIdentity"
    type="pp:LegalIdentityType"/>
  <xs:complexType
    name="LegalIdentityType">
    <xs:sequence>
      <xs:element
        minOccurs="0"
        ref="pp:LegalName"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:LLegalName"/>
      <xs:element
        minOccurs="0"
        ref="pp:AnalyzedName"/>
      <xs:element
        minOccurs="0"
        ref="pp:VAT"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:AltID"/>
      <xs:element
        minOccurs="0"
        ref="pp:DOB"/>
      <xs:element
        minOccurs="0"
        ref="pp:Gender"/>
      <xs:element
        minOccurs="0"
        ref="pp:MaritalStatus"/>
      <xs:element
        minOccurs="0"
        ref="pp:Extension"/>
    </xs:sequence>
    <xs:attributeGroup
      ref="pp:commonAttributes"/>
  </xs:complexType>
  <xs:element
    name="LegalName"
    type="pp:DSTString"/>
  <xs:element
    name="LLegalName"
    type="pp:DSTLocalizedString"/>
  <xs:element
    name="VAT"
    type="pp:VATType"/>
  <xs:complexType
    name="VATType">
    <xs:sequence>
      <xs:element
        ref="pp:IDValue"/>
      <xs:element
        minOccurs="0"
        ref="pp:IDType"/>
      <xs:element
        minOccurs="0"
        ref="pp:Extension"/>
    </xs:sequence>
    <xs:attributeGroup
      ref="pp:commonAttributes"/>
  </xs:complexType>
  <xs:element
    name="IDValue"
    type="pp:DSTString"/>
  <xs:element
    name="IDType"
    type="pp:DSTURI"/>
  <xs:element
    name="AltID"
    type="pp:AltIDType"/>
  <xs:complexType
    name="AltIDType">
    <xs:sequence>
      <xs:element
        ref="pp:IDValue"/>
      <xs:element
        minOccurs="0"
        ref="pp:IDType"/>
      <xs:element
        minOccurs="0"
        ref="pp:Extension"/>
    </xs:sequence>
    <xs:attributeGroup
      ref="pp:commonAttributes"/>
  </xs:complexType>
  <xs:element
    name="DOB"
    type="pp:DSTDate"/>
  <xs:element
    name="Gender"
    type="pp:DSTURI"/>
  <xs:element
    name="MaritalStatus"
    type="pp:DSTURI"/>
  <xs:element
    name="EmploymentIdentity"
    type="pp:EmploymentIdentityType"/>
  <xs:complexType
    name="EmploymentIdentityType">
    <xs:sequence>
      <xs:element
        minOccurs="0"
        ref="pp:JobTitle"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:LJobTitle"/>
      <xs:element
        minOccurs="0"
        ref="pp:O"/>
      <xs:element
        minOccurs="0"
        ref="pp:LO"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:AltO"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:AltLO"/>
      <xs:element
        minOccurs="0"
        ref="pp:Extension"/>
    </xs:sequence>
    <xs:attributeGroup
      ref="pp:commonAttributes"/>
  </xs:complexType>
  <xs:element
    name="JobTitle"
    type="pp:DSTString"/>
  <xs:element
    name="LJobTitle"
    type="pp:DSTLocalizedString"/>
  <xs:element
    name="O"
    type="pp:DSTString"/>
  <xs:element
    name="LO"
    type="pp:DSTLocalizedString"/>
  <xs:element
    name="AltO"
    type="pp:DSTString"/>
  <xs:element
    name="AltLO"
    type="pp:DSTLocalizedString"/>
  <xs:element
    name="AddressCard"
    type="pp:AddressCardType"/>
  <xs:complexType
    name="AddressCardType">
    <xs:sequence>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:AddrType"/>
      <xs:element
        minOccurs="0"
        ref="pp:Address"/>
      <xs:element
        minOccurs="0"
        ref="pp:Nick"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:LNick"/>
      <xs:element
        minOccurs="0"
        ref="pp:LComment"/>
      <xs:element
        minOccurs="0"
        ref="pp:Extension"/>
    </xs:sequence>
    <xs:attributeGroup
      ref="pp:commonAttributes"/>
  </xs:complexType>
  <xs:element
    name="AddrType"
    type="pp:DSTURI"/>
  <xs:element
    name="Address"
    type="pp:AddressType"/>
  <xs:complexType
    name="AddressType">
    <xs:sequence>
      <xs:element
        minOccurs="0"
        ref="pp:PostalAddress"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:LPostalAddress"/>
      <xs:element
        minOccurs="0"
        ref="pp:PostalCode"/>
      <xs:element
        minOccurs="0"
        ref="pp:L"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:LL"/>
      <xs:element
        minOccurs="0"
        ref="pp:St"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:LSt"/>
      <xs:element
        minOccurs="0"
        ref="pp:C"/>
      <xs:element
        minOccurs="0"
        ref="pp:Extension"/>
    </xs:sequence>
    <xs:attributeGroup
      ref="pp:commonAttributes"/>
  </xs:complexType>
  <xs:element
    name="PostalAddress"
    type="pp:DSTString"/>
  <xs:element
    name="LPostalAddress"
    type="pp:DSTLocalizedString"/>
  <xs:element
    name="PostalCode"
    type="pp:DSTString"/>
  <xs:element
    name="L"
    type="pp:DSTString"/>
  <xs:element
    name="LL"
    type="pp:DSTLocalizedString"/>
  <xs:element
    name="St"
    type="pp:DSTString"/>
  <xs:element
    name="LSt"
    type="pp:DSTLocalizedString"/>
  <xs:element
    name="C"
    type="pp:DSTString"/>
  <xs:element
    name="Nick"
    type="pp:DSTString"/>
  <xs:element
    name="LNick"
    type="pp:DSTLocalizedString"/>
  <xs:element
    name="LComment"
    type="pp:DSTString"/>
  <xs:element
    name="MsgContact"
    type="pp:MsgContactType"/>
  <xs:complexType
    name="MsgContactType">
    <xs:sequence>
      <xs:element
        minOccurs="0"
        ref="pp:Nick"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:LNick"/>
      <xs:element
        minOccurs="0"
        ref="pp:LComment"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:MsgType"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:MsgMethod"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:MsgTechnology"/>
      <xs:element
        minOccurs="0"
        ref="pp:MsgProvider"/>
      <xs:element
        minOccurs="0"
        ref="pp:MsgAccount"/>
      <xs:element
        minOccurs="0"
        ref="pp:MsgSubaccount"/>
      <xs:element
        minOccurs="0"
        ref="pp:Extension"/>
    </xs:sequence>
    <xs:attributeGroup
      ref="pp:commonAttributes"/>
  </xs:complexType>
  <xs:element
    name="MsgType"
    type="pp:DSTURI"/>
  <xs:element
    name="MsgMethod"
    type="pp:DSTURI"/>
  <xs:element
    name="MsgTechnology">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension
          base="pp:DSTURI">
          <xs:attribute
            name="msgLimit"
            type="xs:integer"
            use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element
    name="MsgProvider"
    type="pp:DSTString"/>
  <xs:element
    name="MsgAccount"
    type="pp:DSTString"/>
  <xs:element
    name="MsgSubaccount"
    type="pp:DSTString"/>
  <xs:element
    name="Facade"
    type="pp:FacadeType"/>
  <xs:complexType
    name="FacadeType">
    <xs:sequence>
      <xs:element
        minOccurs="0"
        ref="pp:MugShot"/>
      <xs:element
        minOccurs="0"
        ref="pp:WebSite"/>
      <xs:element
        minOccurs="0"
        ref="pp:NamePronounced"/>
      <xs:element
        minOccurs="0"
        ref="pp:GreetSound"/>
      <xs:element
        minOccurs="0"
        ref="pp:GreetMeSound"/>
      <xs:element
        minOccurs="0"
        ref="pp:Extension"/>
    </xs:sequence>
    <xs:attributeGroup
      ref="pp:commonAttributes"/>
  </xs:complexType>
  <xs:element
    name="MugShot"
    type="pp:DSTURI"/>
  <xs:element
    name="WebSite"
    type="pp:DSTURI"/>
  <xs:element
    name="NamePronounced"
    type="pp:DSTURI"/>
  <xs:element
    name="GreetSound"
    type="pp:DSTURI"/>
  <xs:element
    name="GreetMeSound"
    type="pp:DSTURI"/>
  <xs:element
    name="Demographics"
    type="pp:DemographicsType"/>
  <xs:complexType
    name="DemographicsType">
    <xs:sequence>
      <xs:element
        minOccurs="0"
        ref="pp:DisplayLanguage"/>
      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        ref="pp:Language"/>
      <xs:element
        minOccurs="0"
        ref="pp:Birthday"/>
      <xs:element
        minOccurs="0"
        ref="pp:Age"/>
      <xs:element
        minOccurs="0"
        ref="pp:TimeZone"/>
      <xs:element
        minOccurs="0"
        ref="pp:Extension"/>
    </xs:sequence>
    <xs:attributeGroup
      ref="pp:commonAttributes"/>
  </xs:complexType>
  <xs:element
    name="DisplayLanguage"
    type="pp:DSTString"/>
  <xs:element
    name="Language"
    type="pp:DSTString"/>
  <xs:element
    name="Birthday"
    type="pp:DSTMonthDay"/>
  <xs:element
    name="Age"
    type="pp:DSTInteger"/>
  <xs:element
    name="TimeZone"
    type="pp:DSTString"/>
  <xs:element
    name="SignKey"
    type="pp:KeyInfoType"/>
  <xs:element
    name="EncryptKey"
    type="pp:KeyInfoType"/>
  <xs:element
    name="EmergencyContact"
    type="pp:DSTString"/>
  <xs:element
    name="LEmergencyContact"
    type="pp:DSTLocalizedString"/>
</xs:schema>
