test/src/test/resources/xsd/unit/type.xsd

<!--
  Copyright (c) 2006 Seva Safris

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.

  You should have received a copy of The MIT License (MIT) along with this
  program. If not, see <http://opensource.org/licenses/MIT/>.
-->

<xs:schema targetNamespace="http://xml.safris.org/schema/binding/test/unit/type.xsd"
  xmlns:ty="http://xml.safris.org/schema/binding/test/unit/type.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="test-type-ENTITIES">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:ENTITIES">
          <xs:attribute name="attr" type="xs:ENTITIES" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-ENTITY">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:ENTITY">
          <xs:attribute name="attr" type="xs:ENTITY" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-ID">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:ID">
          <xs:attribute name="attr" type="xs:ID" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-IDREF">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:IDREF">
          <xs:attribute name="attr" type="xs:IDREF" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-IDREFS">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:IDREFS">
          <xs:attribute name="attr" type="xs:IDREFS" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-NCName">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:NCName">
          <xs:attribute name="attr" type="xs:NCName" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-NMTOKEN">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:NMTOKEN">
          <xs:attribute name="attr" type="xs:NMTOKEN" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-NMTOKENS">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:NMTOKENS">
          <xs:attribute name="attr" type="xs:NMTOKENS" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:notation name="jpeg" public="image/jpeg" system="viewer.exe"/>
  <xs:notation name="xml" public="text/xml" system="oxygen.exe"/>

  <xs:element name="test-type-NOTATION">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:NOTATION">
          <xs:attribute name="attr">
            <xs:simpleType>
              <xs:restriction base="xs:NOTATION">
                <xs:enumeration value="ty:jpeg"/>
                <xs:enumeration value="ty:xml"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-Name">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:Name">
          <xs:attribute name="attr" type="xs:Name" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-QName">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:QName">
          <xs:attribute name="attr" type="xs:QName" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <!--
  <xs:element name="test-type-anySimpleType">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:anySimpleType">
          <xs:attribute name="attr" type="xs:anySimpleType" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
-->

  <xs:element name="test-type-anyURI">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:anyURI">
          <xs:attribute name="attr" type="xs:anyURI" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-base64Binary">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:base64Binary">
          <xs:attribute name="attr" type="xs:base64Binary" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-boolean">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:boolean">
          <xs:attribute name="attr" type="xs:boolean" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-byte">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:byte">
          <xs:attribute name="attr" type="xs:byte" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-date">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:date">
          <xs:attribute name="attr" type="xs:date" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-dateTime">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:dateTime">
          <xs:attribute name="attr" type="xs:dateTime" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-decimal">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:decimal">
          <xs:attribute name="attr" type="xs:decimal" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-double">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:double">
          <xs:attribute name="attr" type="xs:double" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-duration">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:duration">
          <xs:attribute name="attr" type="xs:duration" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-float">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:float">
          <xs:attribute name="attr" type="xs:float" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-gDay">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:gDay">
          <xs:attribute name="attr" type="xs:gDay" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-gMonth">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:gMonth">
          <xs:attribute name="attr" type="xs:gMonth" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-gMonthDay">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:gMonthDay">
          <xs:attribute name="attr" type="xs:gMonthDay" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-gYear">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:gYear">
          <xs:attribute name="attr" type="xs:gYear" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-gYearMonth">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:gYearMonth">
          <xs:attribute name="attr" type="xs:gYearMonth" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-hexBinary">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:hexBinary">
          <xs:attribute name="attr" type="xs:hexBinary" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-int">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:int">
          <xs:attribute name="attr" type="xs:int" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-integer">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="attr" type="xs:integer" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-language">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:language">
          <xs:attribute name="attr" type="xs:language" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-long">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:long">
          <xs:attribute name="attr" type="xs:long" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-negativeInteger">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:negativeInteger">
          <xs:attribute name="attr" type="xs:negativeInteger" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-nonNegativeInteger">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:nonNegativeInteger">
          <xs:attribute name="attr" type="xs:nonNegativeInteger" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-nonPositiveInteger">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:nonPositiveInteger">
          <xs:attribute name="attr" type="xs:nonPositiveInteger" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-normalizedString">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:normalizedString">
          <xs:attribute name="attr" type="xs:normalizedString" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-positiveInteger">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:positiveInteger">
          <xs:attribute name="attr" type="xs:positiveInteger" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-short">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:short">
          <xs:attribute name="attr" type="xs:short" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-string">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="attr" type="xs:string" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-time">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:time">
          <xs:attribute name="attr" type="xs:time" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-unsignedByte">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:unsignedByte">
          <xs:attribute name="attr" type="xs:unsignedByte" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-unsignedInt">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:unsignedInt">
          <xs:attribute name="attr" type="xs:unsignedInt" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-unsignedLong">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:unsignedLong">
          <xs:attribute name="attr" type="xs:unsignedLong" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="test-type-anyType">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xs:anyType"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

</xs:schema>
